/* mian */
main {
    /* width:calc(100% - 60px); */
    margin:0 auto;
}
/* mian -1. visual */
main .visual {
    position:relative; 
    overflow:hidden; /* 비디오가 밖으로 넘친다면 숨겨라 */
    height:100vh; /* 비디오를 위한 단위 */
}
main .visual .txt {
    color:#fff;
    position:absolute; top:40%;
    width:100%;
    display:flex; flex-flow:column nowrap; 
    align-items:center; text-align:center;
    z-index: 900;/* 작성하지 않으면 a태그 클릭이 안됨 */
}
main .visual .txt p {
    font-size:2.369rem; letter-spacing:-0.02em;
    margin-bottom:30px;
}
main .visual .txt h1 {
    font-size:3.157rem; letter-spacing:-0.02em;
    font-weight:700;
    margin-bottom:30px;
}
main .visual .txt .link {
    display:flex; flex-flow:row nowrap;
}
main .visual .txt .link a {
    font-size:1.777rem; letter-spacing:-0.02em;
    color: #fff;
    background:#000;
    width:287px; padding:20px 0;
    text-align:center;
    margin-right:10px;
    transition: all 0.3s;
}
main .visual .txt .link a:last-child {margin-right:0;}
main .visual .txt .link a:hover {
    background: #ff4090;
}
main .visual video {
    width:100%;
    /* 화면크기 조정 시 비디오 중심축 맞추기 */
    /* 필수조건 ★ 비디오의 부모가 vh or px 높이설정준비! */
    position:absolute; left:50%; /* 중심축 설정!! 비디오가 같이 움직이게 됨 */
    transform: translateX(-50%); /* 다시 왼쪽으로 배치하기 */
    /* 방법3 절대크기값 */
    /* width:1920px; */
}
/* 와이드 비율의 video 화면 전체 배치 시 여백해결법 */
/* 1. 반응형웹 @midea 특정해상도마다 비디오의 크기 설정값 변경 */
/* 2. 가장 큰 데스크탑 기준으로 너비를 100% 보다 크게 설정하고 넘치게 하는 방법 */
/* 3. 상대크기가 아닌 정대크기값(px) 크기를 설정해서 화면 해상도에 영향을 받지 않는 방법 */
/* mian 2.bnr */
.adver_bnr {
    background: url(../images/bnr.jpg) no-repeat 10%;
    background-size: cover;
    height:300px;
}
.adver_bnr .txt {
    /* contents width px */
    max-width:1200px; margin: 0 auto;
    height:300px;
    display:flex; flex-flow:column nowrap; 
    align-items:center;  justify-content: center;
    /* text-align:center; */
    /* padding-right:100px; */
    padding-left: 700px;
}
.adver_bnr .txt p {
    font-size:1.777rem; letter-spacing:-0.02em;
    margin-bottom:15px;
}
.adver_bnr .txt h1 {
    font-size:2.369rem; letter-spacing:-0.02em;
    font-weight:700;
    margin-bottom:15px;
}
.adver_bnr .txt .link {
    display:flex; flex-flow:row nowrap;
}
.adver_bnr .txt .link a {
    color: #fff;
    background:#000;
    font-size:1.333rem; letter-spacing:-0.02em;
    width:208px; padding:15px 0;
    text-align:center;
    margin-right:10px;
    transition: all 0.3s;
}
.adver_bnr .txt .link a:last-child {margin-right:0;}
.adver_bnr .txt .link a:hover {
    background: #ff4090;
}
/* main 3. service - 온라인서비스 */
#online_service {
    background:url(../images/service_bg1.jpg) no-repeat;
    background-position: right center;
    width:100%; margin: 0 auto;
    background-size: 80%;
    padding-top: 60px;
    margin-top: 100px;
}
#online_service .txt {
    background:#fff;
    width:827px;
    display:flex; flex-flow: column nowrap;
    padding: 90px 153px; 
}
#online_service .txt h1 {
    font-size: 3.157rem; letter-spacing: -0.02em;
    font-weight: 700;
    margin-bottom: 20px;
}
#online_service .txt p {
    font-size: 1.333rem; letter-spacing: -0.02em;
    margin-bottom: 20px; line-height: 35px;
}
#online_service .txt .service_link {
    font-size: 1.777rem; letter-spacing: -0.02em;
    color: #fff;
    background:#000;
    width:287px; padding:20px 0;
    text-align: center;
    transition: all 0.3s;
}
/* main 3. service - 매장서비스 */
#shop_service {
    background:url(../images/service_bg2.jpg) no-repeat;
    background-position: left center;
    background-size: 80%;
    padding-top: 60px;
    margin-top: 100px;
    display:flex; flex-flow:row-reverse;
}
#shop_service .txt {
    background:#fff;
    width:827px;
    display:flex; flex-flow: column nowrap;
    align-items: flex-end; padding: 90px 120px; 
}
#shop_service .txt h1 {
    font-size: 3.157rem; letter-spacing: -0.02em;
    font-weight: 700;
    margin-bottom: 20px;
}
#shop_service .txt p {
    font-size: 1.333rem; letter-spacing: -0.02em;
    margin-bottom: 20px; text-align: end;  line-height: 35px;
}
#shop_service .txt .store_link {
    font-size: 1.777rem; letter-spacing: -0.02em;
    color: #fff;
    background:#000;
    width:287px; padding:20px 0;
    text-align: center; 
    transition: all 0.3s;
}
#online_service .txt .service_link:hover,
#shop_service .txt .store_link:hover {
    background:#ff4090;
}